@font-face {
    font-family: "Segoe UI Normal";
    src: url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2");
}

@font-face {
    font-family: "Segoe UI Semibold";
    src: url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2");
}

#canvas {
    margin: 0;
    padding: none;
    /* width: 100%;
    height: 100%; */
}

body {
    margin: 0;
    padding: none;
    overflow-y: hidden;
    overflow-x: hidden;
    /* cursor: none; */
}

#menu {
    font-family: 'Segoe UI Normal';
    background-color: rgba(40,40,40,0.3);
    border: solid 3px rgba(255,255,255,0.6);
    visibility: hidden;
    position: absolute;
    top:10px;
    right:10px;
    /* width: 500px;
    height:500px; */
    color: white;
    /* z-index: 10; */
}

.forceInput{
    font-family: 'Segoe UI Semibold';

    text-align: center;
    color: white;
    width: 35px;
    height: 35px;
}

.forcesDiv {
    margin: 8px;
    float:right;
}

.sliderDiv {

}

.buttonDiv {
    width: 100%;
}

.menuButton {
    width: calc(25% -2px);
}